<!-- FOOTER -->

<nav class="footer navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="footer-contact navbar-header">   
      

    </div>

    <!-- Collect the nav links, forms, and other content for toggling --> 
    
    <div class="github-footer col-xs-6 col-xs-offset-6">
      <a href="https://github.com/dwarfi/Productivity-App-host"><img class="github" src="images/github.png"></a>
      
    </div>
      
  </div><!-- /.container-fluid -->
</nav>