<!-- NAVIGATION -->

<nav class="nav navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">   
      <a class="nav-brand navbar-brand" href="#/">Productivity App</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling --> 
      <ul class="nav navbar-nav">
        <li><a ng-hide="currentUser" ng-href="#login">Login</a></li>
        <li><a ng-hide="currentUser" ng-href="#register">Register</a></li>
      </ul>
      
  </div><!-- /.container-fluid -->
</nav>