<!-- Register Page -->

<div class="registration col-md-9 col-md-offset-2" ng-hide="currentUser">
	
	<form class="registration-form form-sigin col-md-5 col-md-offset-4" 
	 name="myform" ng-submit="register()" novalidate>
		<h2 class="form-signin-heading">Register</h2>

		<p class="error-message" ng-show="message">{{message}}</p>

		<input type="firstname" name="firstname" class="form-control" placeholder="First Name" autofocus ng-model="user.firstname" ng-required="true">
		<p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
		 First Name is required</p>

		<input type="lastname" name="lastname" class="form-control" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
		<p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
			Last Name is required</p>

		<input type="email" name="email" class="form-control" placeholder="Email address" 
		 ng-model="user.email" ng-required="true">
		 <p class="error" ng-show="myform.email.$invalid && myform.email.$touched">
		 	Must be a valid email</p>

		<input type="password" name="password" class="form-control" placeholder="Password"
		 ng-model="user.password" ng-required="true">
		 <p class="error" ng-show="myform.password.$invalid && myform.password.$touched">
		 	Password is required</p>

		<br><button class="btn btn-lg btn-primary btn-block" type="submit" 
		 ng-disabled="myform.$invalid">Register</button>
		 <p>or <a ng-href="#login">login</a></p>

	</form>

</div>