 <!-- SIDE BAR -->

<div class="side-bar col-sm-3" ng-controller="RegistrationController" ng-show="currentUser">

  <ul class="side-list list-group">
    <li class="list-group-item">  
     <h3>Hi {{user.firstname}} </h3>
    </li>
    <li class="list-group-item">
      <span class="badge">{{ howManyContacts }}</span>
      <a ng-href="#contacts">Contacts</a>
    </li>
    <li class="list-group-item">
      <span class="badge">{{ howManyBookmarks }}</span>
      <a ng-href="#bookmarks">Bookmarks</a>
    </li>
    <li class="list-group-item">
      
      <a ng-href="#todo">Todo List</a>
    </li>
    <li class="list-group-item">
      <a ng-href="#/" ng-click="logout()">Logout</a>
    </li>
  </ul>

</div>