 <!-- SIDE BAR -->

<div id="side" class="side-bar col-sm-3 " ng-controller="StatusController" ng-show="currentUser">

  <ul class="side-list list-group">
    <li class="list-group-item">  
     <h3>Hi Catalin </h3>
    </li>
    <li class="list-group-item">
      
      <a ng-href="#contacts">Contacts</a>
    </li>
    <li class="list-group-item">
      <span class="badge">{{ howManyBookmarks }}</span>
      <a ng-href="#bookmarks">Bookmarks</a>
    </li>
    <li class="list-group-item">
      <span class="badge">{{ remainingCount }}</span>
      <a ng-href="#todo">Todo List</a>
    </li>
    <li class="list-group-item">
      <a ng-href="#/" ng-click="logout()">Logout</a>
    </li>
  </ul>

</div>